Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Adding additional folders with files over 100 MB (I won't use git lfs for this project as I'm limited to only 1 GB anyway
# and I have many .uasset files over 100 MB and even close to 1 GB.  Not paying Github for data packs!
*.uasset